<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>object_list</key>
	<array>
		<dict>
			<key>class</key>
			<string>#MNewsDetailViewController</string>
			<key>name</key>
			<string>channel</string>
			<key>exact_url</key>
			<array>
				<string>awtmt.com/articles/:node</string>
				<string>m.awtmt.com/articles/:node</string>
				<string>wallstreetcn.com/finfo/stock/detail/:finfoType/:finfoId</string>
				<string>wallstreetcn.com/articles/:node</string>
				<string>wallstreetcn.com/node/:node</string>
				<string>m.wallstreetcn.com/articles/:node</string>
				<string>wallstreetcn.com/vip/articles/:node</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#MLiveDetailViewController</string>
			<key>name</key>
			<string>LiveDetail</string>
			<key>exact_url</key>
			<array>
				<string>wallstreetcn.com/livenews/:node</string>
				<string>m.wallstreetcn.com/livenews/:node</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#TTBaseWebViewController</string>
			<key>name</key>
			<string>default</string>
			<key>ext</key>
			<dict>
				<key>default</key>
				<true/>
			</dict>
			<key>exact_url</key>
			<array>
				<string>cn.micker</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#YProfileEditViewController</string>
			<key>name</key>
			<string>ProfileEdit</string>
			<key>exact_url</key>
			<array>
				<string>nativeapp/ProfileEdit</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#PushRootViewController</string>
			<key>name</key>
			<string>push</string>
			<key>exact_url</key>
			<array>
				<string>nativeapp/push</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#YNewsCommentViewController</string>
			<key>name</key>
			<string>NewsComment</string>
			<key>exact_url</key>
			<array>
				<string>wallstreetcn.com/nativeapp/node/:nodeId/comments</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#SettingViewController</string>
			<key>name</key>
			<string>SettingVC</string>
			<key>exact_url</key>
			<array>
				<string>nativeapp/setting</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#ZFundWebViewController</string>
			<key>name</key>
			<string>ZFundWebViewController</string>
			<key>exact_url</key>
			<array>
				<string>next.wallstreetcn.com</string>
				<string>next.wallstreetcn.com/:channel</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#YPersonalPageViewController</string>
			<key>name</key>
			<string>YPersonalPageViewController</string>
			<key>exact_url</key>
			<array>
				<string>wallstreetcn.com/authors/:userId</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#YNewsTopicDetailViewController</string>
			<key>name</key>
			<string>YNewsTopicDetailViewController</string>
			<key>exact_url</key>
			<array>
				<string>wallstreetcn.com/topics/:topicId</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#ZDailyPodcastViewController</string>
			<key>name</key>
			<string>ZDailyPodcastViewController</string>
			<key>exact_url</key>
			<array>
				<string>wallstreetcn.com/content/audition/:topicId</string>
				<string>wallstreetcn.com/content/audition</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
